body {
      font-family: Arial, sans-serif;
      background-color: #fff6f8;
      margin: 0;
      padding: 20px;
    }

    h1 {
      text-align: center;
      color: #d46a8c;
    }

    .container {
      max-width: 600px;
      margin: 0 auto;
      background: white;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    input {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    button {
      padding: 10px;
      background-color: #d46a8c;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    button:hover {
      background-color: #b75978;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

    th, td {
      padding: 8px;
      border-bottom: 1px solid #ddd;
      text-align: center;
    }

    .resumen {
      margin-top: 20px;
      font-weight: bold;
      text-align: right;
    }



.tabla-scroll {
  width: 100%;
  overflow-x: auto; /* habilita scroll horizontal */
}